$Grey1:#272727;
$Grey2:#494949;
$Grey3:#686868;
$Grey4:#7c7c7c;
$Grey5:#a6a6a6;
$Grey6:#c4c4c4;
$Grey7:#e6e6e6;
$Grey8:#f1f1f1;
$Grey9:#f6f6f6;
$Grey10:#fbfbfb;

$Blue1 :#001c93;
$Blue2 :#1630a7;
$Blue3 :#223bb2;
$Blue4 :#2c45be;
$Blue5 :#324dc9;
$Blue6 :#5568d2;
$Blue7 :#7584da;
$Blue8 :#9da7e4;
$Blue9 :#c5c9ef;
$Blue10 :#e8eaf9;

$BlueDark: #213159;
$BlueLight: #3d6098;
$BluePrimary: #377dff;

$Green1: #cffcda;
$Green2: #6ef790;
$Green3: #14eb49;
$Green4: #00b22c;
$Green5: #05611c;

$Yellow1: #fffbcc;
$Yellow2: #fff475;
$Yellow3: #f4e225;
$Yellow4: #e0c306;
$Yellow5: #9b8e00;

$Red1: #ffcfcc;
$Red2: #ff6f66;
$Red3: #e5251a;
$Red4: #b20900;
$Red5: #660600;